*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #230E3D; */
}
body {
  font-family: 'Inter', sans-serif;
  background-color: #1A0B2E;
  
}
/* navbar start */
nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 92px;
    align-items: center;
    margin: auto;
}
.tech{
    color: white;
}
.wave{
    background: linear-gradient(90deg,#FB09B4, #9100F8,#F7E93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.links{
    display: flex;
    gap: 32px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
.btn{
    background: linear-gradient(135deg, #ff7a18, #ff3d81);
    color: white;
    padding: 16px;
    border-radius: 10000px;
    font-size: 16px;
    font-weight: 600;
}
.btn i {
    background: transparent !important;
    padding: 0;
    border: none;
    box-shadow: none;
}
.btn:hover{
    pointer-events: painted;
    background-color: #9100F8;
}

/* hero section start */
.hero {
    background-color: #1a0b2e;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center 23%;
    background-size: contain;
    padding: 40px 20px;
    max-width: 1600px;
    margin: 0 auto;
    min-height: 100vh;
}
.hero-container{
    width: 600px;
    max-width: 90%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.hero-circle{
    position: relative;
    background-image: url("../assets/hero-circle.png");
    width: 350px;
    height: 350px;
    margin: 70px auto 30px;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mic-img{
   
    width: 116px;
    height: 175px;
    
}
.badg{
    position: absolute;
    top: 20px;
    right: 50px;
    background: #00ff9c;
    color: black;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: bold;
}

.title{
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF;
}
.description{
    font-size: 16px;
    font-weight: 400;
    line-height: auto;
    color: #FFFFFF;
}
.Spotify{
    width: 200px;
    height: 44px;
    padding: 12px 20px;
    gap: 8px;
    text-align: center;
    border-radius: 10000px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background: linear-gradient(135deg, #ff7a18, #ff3d81);
    margin-top: 36px;
}
.Subscribe{
    color: #00FF88;
    width: 147px;
    height: 44px;
    padding: 12px 20px;
    border-radius: 10000px;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #00FF88;
    background-color: transparent;
}
.hend-menu{
    display: none;
    
}
/* about section */
.about-container{
    text-align: center;
    color: #FFFFFF;
    width: 1200px;
    height: 148px;
    margin: 0 auto;
}
.about-container h1{
    font-size: 48px;
    font-weight: bold;
}
.about-container p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 16px;
}
.pp{
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    color: #FFFFFF;
}

.status-box{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
    height: 94px;
    margin-top: 150px;
    gap: 50px;
}
.box{
    text-align: center;
    color: #00FF88;
    width: 240px;
    height: 94px;
}
.box h2{
    font-size: 48px;
}
.box p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
}
/* card section */
.ti h1{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    width: 1200px;
    height: 58px;
    margin: 0 auto;
    margin-top: 120px;
}
section {
  overflow: hidden;
}


.card{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    width: 1200px;
    height: 783px;
    margin: 0 auto;
    margin-top: 40px;

}
.audio{
    grid-row: span 2;
    width: 380px;
    height: 480px;
    /* border: 2px solid red; */
    padding: 40px 40px;
    box-shadow: 0 4px 10px rgba(159, 159, 217, 0.957);
    border-radius: 40px;
    align-items: center;
}
.audio h3{
    margin-top: 18px;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    
}
.audio p{
    font-size: 16px;
    /* font-weight: 400; */
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
}
.mobail{
    grid-column: span 2;
    width: 790px;
    height: 225px;
    padding: 40px 40px;
    box-shadow: 0 4px 10px rgba(159, 159, 217, 0.957);
    border-radius: 40px;
}
.mobail h3{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 16px;
}
.mobail p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 16px;
}
.global{
    grid-column: span 2;
    width: 790px;
    height: 225px;
    padding: 40px 40px;
    box-shadow: 0 4px 10px rgba(159, 159, 217, 0.957);
    border-radius: 40px;
    /* margin-bottom: 100px; */
}
.global h3{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 16px;
}
.global p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 16px;
}
.exclusib{
    grid-column: span 2;
    width: 790px;
    height: 225px;
    padding: 40px 40px;
    box-shadow: 0 4px 10px rgba(159, 159, 217, 0.957);
    border-radius: 40px;
    
}
.exclusib h3{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 10px;
}
.exclusib p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 10px;
}
.rich{
    box-shadow: 0 4px 10px rgba(159, 159, 217, 0.957);
    padding: 40px 40px;
    border-radius: 40px;
    width: 380px;
    height: 230px;
}
.rich h3{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 10px;
}
.rich p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 10px;
}
.featured{
    font-size: 48;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-top: 120px;
}
.featured-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 1200px;
    height: 440px;
    gap: 30px;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
}
.box-c{
    width: 380px;
    height: 440px;
    box-shadow: 0 4px 10px rgba(159, 159, 217, 0.957);
    color: #FFFFFF;
    padding: 18px;
}
.video{
    width: 340px;
    height: 214px;
}
.box-c h3{
    font-size: 24px;
    font-weight: 700;
    margin-top: 24px;
}
.box-c p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 12px;
}
.box-c h6{
    color: #00FF88;
    margin-top: 12px;
}











/* Responsib dessing */

@media screen and (max-width:576px){
    .links,.su{
        display: none;
    }
    .hend-menu{
        display: block;
    }
    .hero-circle{
        width: 200px;
        height: 200px;
    }
    .mic-img{
        width: 80px;
        height: 80px;
    }
    .hero-container{
        margin-top: -38px;
    }
    .badg{
        top: 10px;
        right: 10px;
        width: 70px;
        height: 35px;
        padding: 8px 16px;
        font-size: 16px;
        font-weight: 600;
        color: #1A0B2E;
    }
    /* about section responsib */
    .about-container{
        width: 400px;
        height: 207px;
        width: 95%;
        
    }
    .about-container h1{
        font-size: 32px;
        
    }
    .status-box{
        width: 400px;
        height: 208px;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        width: 95%;
        margin-top: 80px;
        gap: 40px;
    }
    /* card start */
    .ti h1{
        font-size: 32px;
        width: 400px;
        height: 39px;
        margin-bottom: 16px;
    }
    .card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        max-width: 70%;
        margin: 0 auto;
    }
    .audio{
        width: 400px;
        height: 287px;
    }
    .mobail , .global{
        width: 400px;
        height: 215px;
    }
    .exclusib{
        width: 400px;
        height: 311px;
    }
    /* youtube content */
    
    
    .featured {
    font-size: 28px;
    margin-top: 60px;
  }

    .featured-container {
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    padding: 0 16px;
  }

    .box-c {
    width: 100%;
    height: auto;
  }

    .video {
    width: 100%;
    height: 200px;
  }


}